p {
  margin: 0;
}

.contacts_list {
  padding: 0;
}

.delete_btn {
  background-color: rgb(68, 63, 82);
  color: whitesmoke;
  width: 10px;
}

.delete_btn:hover {
  background-color: red;
}

.list_item {
  display: flex;
  justify-content: space-between;
}

.name {
  font-weight: bold;
  color: rgb(79, 78, 83);
  font-size: 25px;
}

.number {
  font-weight: bold;
  color: rgb(48, 46, 53);
  font-size: 22px;
}
