.wrapper {
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(197, 197, 211);
}

.logo {
}

.title {
  margin-left: 30px;
  font-family: 'Rampart One', cursive;
  font-weight: 300;
  font-size: 30px;
  color: #122c74;
}
